.board-header {
    display: flex;
    align-items: center;
    height: auto;
    padding: 8px 4px 4px 8px;
    
    gap: 12px;
    .board-box {
        border-radius: 3px ;
        background-color: rgba(255, 255, 255, 0.3);
        &.star {
            color: white;
            cursor: pointer;
            height: 32px;
            width: 32px;
            text-align: center;
            line-height: 30px;
            &:hover {
                color: #f2d600;
                font-size: 18px ;
            }
            .fas {
                color: #f2d600;
            }
        }
        
        input {
           
            color: white;
            border: none;
            font-size: 18px;
            font-weight: 700;
            box-shadow: none;
            background-color: transparent;
            height: 32px;
            text-align: center;
            padding: 0 6px;
            // margin: 0 10px;
            &:focus {
                background-color: white;
                box-shadow: 0 0 0 2px #007bbc;
                border-radius: 3px;
                outline: none;
               color: #172c4c;
            }
        }
    }
}


