.board-header {
    position: fixed;
    display: flex;
    align-items: center;
    height: auto;
    padding: 8px 0px 4px 4px;
    .board-header-left{
        display:flex;
        gap: 4px;
    }

    .board-header-right{
        display:flex;
        gap: 4px;
    }

    gap: 12px;
    .board-box {
        border-radius: 3px ;
        background-color: rgba(255, 255, 255, 0.3);
        &.star {
            color: $clr1;
            cursor: pointer;
            height: 32px;
            width: 32px;
            text-align: center;
            line-height: 30px;
            &:hover {
                color: $clr5;
                font-size: 18px ;
            }
            .fas {
                color: $clr5;
            }
        }

        &.invite{
         color:$clr1;
           height:32px;
           padding:0 6px;
           text-align: center;
           line-height: 30px;
            cursor: pointer;
        }
        
        input {
           
            color: $clr1;
            border: none;
            font-size: 18px;
            font-weight: 700;
            box-shadow: none;
            background-color: transparent;
            height: 32px;
            text-align: center;
            padding: 0 6px;
            &:focus {
                background-color: $clr1;
                box-shadow: 0 0 0 2px $sclr1;
                border-radius: 3px;
                outline: none;
               color: $clr4;
            }
        }
    }
}


