.board-details-container {
    margin: 0 22px;
    height: 93.4vh;
    overflow-y: scroll;
    overflow-y: hidden;
   
}

.group-list-container {
    margin-top: 50px;
    display: flex;
    margin-bottom: 20px;

    width: 100%;

    p {
        margin: 0;
    }
    .group-header {
        display: flex;
        width: 100%;
        padding: 0 10px;
        justify-content: space-between;
        align-items: center;
    }

    .group-title{
      width:80%;
      overflow: hidden;
     resize: none;
     
      
      &:focus {
        background-color: $clr1;
        box-shadow: 0 0 0 2px $sclr1;
        border-radius: 3px;
        outline: none;
        color: $clr4;
    }
    }
    .group-list-group {
        border: 1px solid black;
        min-width: 272px;
        border-radius: 4px;
        padding: 4px;
        margin: 2px 4px;
    }
}
