.board-details-container {
    margin: 0 22px;
    height: 93.4vh;
    overflow-y: scroll;
    overflow-y: hidden;
}
.group-list-container {
    margin-top: 50px;
    display: flex;
    margin-bottom: 20px;

    width: 100%;

    p {
        margin: 0;
    }
    .group-header {
        display: flex;
        width: 100%;
        padding: 4px 0px 8px 0px;
        justify-content: space-between;
        align-items: center;
        div {
            margin-bottom: 5px;
            cursor: pointer;
            margin-left: 10px;
        }

        .group-header-edit-btn {
            cursor: pointer;
            background-color: transparent;
            border: none;
            font-size: 14px;
            padding: 8px;
            position: absolute;
            right: 5px;
            border-radius: 3px;
            &:hover {
                background-color: #091e4214;
            }
        }
    }

    .group-title{
      width:80%;
      overflow: hidden;
     resize: none;
     
      
      &:focus {
        background-color: $clr1;
        box-shadow: 0 0 0 2px $sclr1;
        border-radius: 3px;
        outline: none;
        color: $clr4;
    }
    }
    .group-list-group {
        background-color: #ebecf0;
        min-width: 272px;
        border-radius: 3px;
        display: flex;
        padding: 4px;
        margin: 2px 4px;
        flex-direction: column;
        max-height: 100%;
        white-space: normal;
        position: relative;
    }
}
