.card-ghost {
    transition: transform 0.18s ease;
    transform: rotateZ(5deg);
}
.card-ghost-drop {
    transition: transform 0.18s ease-in-out;
    transform: rotateZ(0deg);
}
.drop-preview {
    background-color: rgba(19, 19, 26, 0.15);
    background-color: lawngreen;
    margin: 5px 5px 5px 3px;
    height: auto;
    align-self: flex-start;
}
.smooth-dnd-container {
    min-height: 5px;
}
.smooth-dnd-draggable-wrapper {
    max-height: fit-content;
}

.smooth-dnd-container.vertical > .smooth-dnd-draggable-wrapper {
    overflow: inherit;
    display: block;
}