.task-description {
    display: flex;
    gap: 16px;
    padding: 0px 8px 0 15px;
    margin: 0 0 37px 40px;
    position: relative;
    flex-direction: column;
    .task-description-title{
font-weight: 600;
    }

    .task-description-content {
        .task-description-buttons {
            display: flex;
            flex-direction: row;
            margin-top: 8px;
            .task-description-save {
                background-color: #0079bf;
                border: none;
                box-shadow: none;
                color: #fff;
                margin: 0 4px 0 0;
                border-radius: 3px;
                padding: 6px 12px;
                cursor: pointer;
                &:hover{
                    opacity: 0.8;
                }
            }
            .task-description-close {
                color: #42526e;
                border: none;
                background-color: transparent;
                outline: none;
                height: 32px;
                width: 32px;
                font-size: 24px;
                line-height: 32px;
                cursor: pointer;
            }
        }
        .textarea-another-list {
            width: 508px;
            height: 108px;
            line-height: 28px;
            font-size: 14px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            overflow: hidden;
            overflow-wrap: break-word;
            resize: none;
            box-shadow: 0px 1px 2px 0px #b2b9c6;
            border: none;
            outline: none;
            border-radius: 3px;
            color: $clr4;
            padding-left: 10px;
            margin-top: 1px;

            &:focus {
                background-color: $clr1;
                box-shadow: 0 0 0 2px $sclr1;
                outline: none;
            }
        }
    }
    .task-description-placeholder {
        word-break: break-word;
        height: fit-content;
        background-color: #091e420a;
        min-height: 56px;
        padding: 7px 0px 0px 10px;
        font-size: 14px;
    }
}
