.task-label-preview-container{
    
    display: flex;
    flex-wrap: wrap;
    padding-left: 8px;
    margin-top: 8px;
    &:hover{
            background-color: rgba(255, 255, 255, 0.3);
            }
    .task-labels-container{
         

    margin-right: 4px;
    margin-bottom: 4px;
    
    .label-preview {
      min-width: 52px;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 198px;
      line-height: 20px;
      border-radius: 4px;
      padding:0 4px;
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      height: 16px;
      white-space: nowrap;
      float: left;
      line-height: 16px;
      &.mini{
          min-width: 40px;
          max-width: 40px;
          height:8px;
          margin-right:4px;
          margin-bottom: 4px;
          padding:0;
      }
    }
  }
}
