.dynamic-group-edit {
    z-index: 10;
    padding-bottom: 12px;
    width: 304px;
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    position: absolute;
    left: 225px;
    top:4px;
   
    .close {
        padding: 12px 12px 12px 12px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        background-color: transparent;
        border: none;
        font-size: 16px;
        cursor: pointer;
        color: $clr3;
        &:hover {
            color: $clr2;
        }
    }
    header {
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #091e4221;
        margin: 0px 10px;
        font-size: 14px;
        color: $clr3;
    }
}

.dynamic-component-container{
    &.groupEdit{
        position: relative;
        
    }
}
