.dynamic-recent {
    top: 48px;
    left: 225px;
    .placeholder {
        text-align: center;
        color: #5e6c84;
        margin-top: 12px;
    }
    header {
        font-size: 14px;
    }
    .workspace-content {
        margin: 0 12px 12px;
        padding: 0;
        color: $clr2;
        justify-content: flex-start;
        .board-title {
            margin-left: 8px;
            font-size: 14px;
            font-weight: 600;
        }
        &:hover {
            cursor: pointer;
            background-color: #ebecf0;
        }
    }
}
.recent-board-background {
    display: inline-block;
    flex: 0 0 auto;
    background-size: cover;
    border-radius: 3px;
    height: 32px;
    width: 40px;
    position: relative;
    opacity: 1;
}
