.workspace-content {
    display: flex;
    justify-content: center;
}
.workspace-container {
    margin: 40px 16px 0;
    max-width: 920px;
    min-width: 288px;
    width: 100%;
    height: 50vh;
    .boards-container {
        display: flex;
        .boards-containers-my-boards {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding: 0;
            gap: 40px;
        }
    }
    .workspace-title {
        display: flex;
        gap: 5px;
        padding: 15px 0px;
        color: $clr2;
        span {
            font-size: 32px;
        }
    }
}

.board-card {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 200px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 55px;
    a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #fff;
        &:hover {
            background-color: $hclr1;
        }
        div {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.board-card-title {
    display: flex;
    word-wrap: break-word;
    font-size: 16px;
    height: 100px;
    width: 200px;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    font-weight: 600;
}
.board-card-add {
    word-wrap: break-word;
    font-size: 16px;
    line-height: 43px;
    display: flex;
    background-color: #091e420a;
    cursor: pointer;
    color: #172b4d;
    font-weight: 400;
    border-radius: 3px;
    height: 100px;
    width: 200px;
    text-align: center;
    position: relative;
    &:hover {
        background-color: $hclr1;
    }
    .plus {
        position: absolute;
        bottom: 20px;
        font-size: 32px;
    }
}

.board-create-background {
    inset: 0;
    z-index: 80;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
}
