.menu-header-back-button::before {
  font-family: 'icomoon';
  content: '\e90a';
}
.menu-header-close-button::before {
  font-family: 'icomoon';
  content: '\e91c';
}

.task-preview-info {
  font-family: 'icomoon';
  .notification::before {

  }
  
  .clock-icon {
    &::before{
       position: absolute;
    left: 5px;
    top:2px;
    content: '\e91b';
    font-size: 16px;
    }
   

  }
  .description::before {
    content: '\e922';
  }
  .attachments::before {
    content: '\e908';
  }
  .comments::before {
    content: '\e91e';
  }
}
