.icon-sm {
  font-family: 'icomoon';
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  width: 20px;
  color: #42526e;
}
.icon-md {
  font-family: 'icomoon';
  font-size: 20px;
  height: 32px;
  line-height: 32px;
  width: 32px;
  color: #42526e;
}
.icon-lg {
  font-family: 'icomoon';
  height: 32px;
  line-height: 32px;
  width: 32px;
  font-size: 24px;
  color: #42526e;
}
.menu-header-back-button::before {
  font-family: 'icomoon';
  content: '\e90a';
}
.menu-header-close-button::before {
  font-family: 'icomoon';
  content: '\e91c';
}
.menu-header-close-button:hover {
  color: $clr2;
}
.icon-pencil::before {
  content: '\e928';
}
.icon-copy::before{
  content: "\e91f";
}

.task-preview-info {
  font-family: 'icomoon';
  .notification::before {
  }

  .clock-icon {
    &::before {
      position: absolute;
      left: 5px;
      top: 2px;
      content: '\e91b';
      font-size: 16px;
    }
  }
  .description::before {
    content: '\e922';
  }
  .attachments::before {
    content: '\e908';
  }
  .comments::before {
    content: '\e91e';
  }
}


.v-sign::before{
  content:'\e916';
  color: white;
  
}